<main>
    <h1>Make a Post</h1>

    <form action="">
        <div>
             <label for="title">Title</label>
            <input type="text" id="titlePost"/>
        </div>
        <!--- need to send this information to the database! --->
        <div>
             <label for="User-email">Text Content</label>
            <input type="text" id="postText"/>
        </div>
        <!--- add an event listener on this btn to send the info to the data base --->
        <button type="submit" class="btn">Post!</button>
    </form>
</main>
<footer>
    
    
    <div>
        <h1>Your Post</h1>
        <ul>
            <!--- I need to use helpers to display the users post! --->
        </ul>
    </div>
</footer>