<div>
  <form class="sign">
      <h2>Sign Up!</h2>
    <div>
      <label for="User-email">User-email</label>
      <input type="text" id="userEmail-sign" />
    </div>
    <div>
      <label for="User-username">Enter-Username</label>
      <input type="text" id="username-sign" />
    </div>
    <div>
      <label for="password">Enter Password</label>
      <input type="text" id="password-sign" />
    </div>
    <div>
        <!--- add a listener to send this info to the data base or session how ever we gotta do logins! --->
        <button type="submit">Sign Up!</button>
    </div>
  </form>
</div>

<div>
    <form class="log">
        <h2>Log In!</h2>
        <div>
      <label for="User-username">Enter-Username</label>
      <input type="text" id="username" />
    </div>
    <div>
      <label for="password">Enter Password</label>
      <input type="text" id="password" />
    </div>
    <div>
        <!--- need to check if use has a session or info in the data base --->
        <button type="submit">Sign Up!</button>
    </div>
    </form>
</div>